@use "variables" as *;

html {
	color-scheme: black;
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: 62.5%;
	line-height: 1.4;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body{
    background: $dark-blue;
    --cursor-fill: $green;
    --cursor-text: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: crosshair;
}

canvas{
	display: block;
}