.home {
  .scroller {
    opacity: 0;
  }

  section {
    position: relative;
    width: 100svw;
    min-height: 60svh;
    mix-blend-mode: exclusion;
    z-index: 2;
  }

  .intro {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100svh;

    &__inner {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 90svw;
      align-items: center;
      margin: 02rem;

      h1.intro-title {
        position: relative;
        font-size: 16svw;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1;
        overflow: hidden;
        width: 100%;
        margin: 0;
        opacity: 0;

        span.small {
          font-size: 1.6rem;
        }

        @media (min-width: 768px) {
          font-size: 10vw;

          span.small {
            font-size: 3svw;
          }
        }
      }

      @media (min-width: 768px) {
        
      }
    }
  }

  .hello {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      height: 110svh;
    }

    &__inner {
      padding: 0 2rem;
      margin-bottom: 25svh;

      @media (min-width: 768px) {
        max-width: 70svw;
        margin-bottom: 0;
      }
    }

    &__text {
      font-size: 2rem;

      @media (min-width: 768px) {
        font-size: 2.5svw;
      }

      span {
        font-weight: bold;
        display: block;
        margin-bottom: 8svh;
      }
    }
  }

}